<!DOCTYPE html><!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Sun Nov 30 2025 22:54:45 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="673f3019d022da5c68bcf489" data-wf-site="673f3019d022da5c68bcf483">
<head>
  <meta charset="utf-8">
  <title>SeedRock Consulting | Strategic Business Growth &amp; Advisory</title>
  <meta content="SeedRock Consulting helps SMEs and startups unlock funding, strategy, and growth with expert financial advisory and communications services." name="description">
  <meta content="SeedRock Consulting – Empowering Business Growth" property="og:title">
  <meta content="Partner with SeedRock Consulting for strategic business solutions, financial advisory, and communications expertise to fuel sustainable growth." property="og:description">
  <meta content="SeedRock Consulting – Empowering Business Growth" property="twitter:title">
  <meta content="Partner with SeedRock Consulting for strategic business solutions, financial advisory, and communications expertise to fuel sustainable growth." property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/seed-rock-consulting.webflow.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="/images/webclip.png" rel="apple-touch-icon">
</head>
<body>
    <%- include('partials/header', { currentPage: 'home' }) %>
  <section id="Home" class="heading-area">
    <div class="heading-overlay"></div>
    <div class="div-block-39">
      <div class="padding-global padding-section-large">
        <div class="container-large">
          <div id="w-node-_2090325e-73d9-16ab-6c18-110dfc95af01-68bcf489" class="hero-title">
            <h1 data-w-id="76b9e9b7-4b4d-e5ea-8ec7-67784a1d5898" style="opacity:0;-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="heading-style-h1">Your Growth, <br>Our Expertise</h1>
            <div id="w-node-f8503d53-c4d5-39b1-9c2f-a71beab85261-68bcf489" class="hero-subtitle-wrapper">
              <p data-w-id="b657528c-3f0b-a323-cfc2-19ed603801c4" style="opacity:0;-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-subtitle text-size-large">Partner with SeedRock Consulting to Unlock Strategic Solutions for Sustainable Business Growth.</p>
            </div>
            <a data-w-id="d18caaf0-0c91-f2e5-0f23-f104a944eb0e" style="opacity:0;-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="contact-us.html" class="button-2 is-icon w-inline-block">
              <div>Work With Us</div>
              <div data-w-id="d18caaf0-0c91-f2e5-0f23-f104a944eb11" class="icon-1x1-small w-embed"><svg aria-hidden="true" fill="currentColor" role="img" viewbox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
                  <title>Arrow Right</title>
                  <polygon points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9">
                </polygon></svg></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="floating-stat-card">
    <div class="challenches-section-heading">
      <h2 class="heading-style-h2 align-center">Market Challenges</h2>
    </div>
    <div class="challenges-wrapper">
      <div data-w-id="3b6406a4-9c65-2fca-182b-890622202435" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-1">
        <div class="challenge-no">
          <div class="challenges-stat text-size-x-large">89%</div>
        </div>
        <p class="challenges-body text-align-center text-weight-medium">SMEs struggle to secure funding</p>
      </div>
      <div data-w-id="b3f2461a-c169-d075-30e7-6ca536edc7cd" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-2">
        <div class="challenge-no">
          <div class="challenges-stat text-size-x-large">85%</div>
        </div>
        <p class="challenges-body text-align-center text-weight-medium">of startups find it hard to stand out in their industries</p>
      </div>
      <div data-w-id="f553f4bf-9039-6d68-f337-eec6e58e2176" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-3">
        <div class="challenge-no">
          <div class="challenges-stat text-size-x-large">70%</div>
        </div>
        <p class="challenges-body text-align-center text-weight-medium">of businesses are lagging behind due to rapid market changes</p>
      </div>
      <div data-w-id="c6cdfd20-4f35-e121-c300-321d1a4033c7" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="challenge-4">
        <div class="challenge-no">
          <div class="challenges-stat text-size-x-large">6 in 10</div>
        </div>
        <p class="challenges-body text-align-center text-weight-medium">businesses are uncertain about their next big move</p>
      </div>
    </div>
  </div>
  <section class="mobile-stat-section">
    <div class="floating-stat-card-mobile">
      <h2 class="heading-style-h2 align-center">Market Challenges</h2>
      <div class="challenges-wrapper">
        <div data-w-id="b3ebcd04-a471-2240-0947-1b721f6f95c9" class="challenge-1">
          <div class="challenge-no">
            <div class="challenges-stat text-size-x-large">89%</div>
          </div>
          <p class="challenges-body text-align-center text-weight-medium">SMEs struggle to secure funding</p>
        </div>
        <div data-w-id="b3ebcd04-a471-2240-0947-1b721f6f95cf" class="challenge-2">
          <div class="challenge-no">
            <div class="challenges-stat text-size-x-large">85%</div>
          </div>
          <p class="challenges-body text-align-center text-weight-medium">of startups find it hard to stand out in their industries</p>
        </div>
        <div data-w-id="b3ebcd04-a471-2240-0947-1b721f6f95d5" class="challenge-3">
          <div class="challenge-no">
            <div class="challenges-stat text-size-x-large">70%</div>
          </div>
          <p class="challenges-body text-align-center text-weight-medium">of businesses are lagging behind due to rapid market changes</p>
        </div>
        <div data-w-id="b3ebcd04-a471-2240-0947-1b721f6f95db" class="challenge-4">
          <div class="challenge-no">
            <div class="challenges-stat text-size-x-large">6 in 10</div>
          </div>
          <p class="challenges-body text-align-center text-weight-medium">businesses are uncertain about their next big move</p>
        </div>
      </div>
    </div>
  </section>
  <section class="our-approach-section">
    <div class="container center">
      <div class="our-approach-header">
        <h2 class="heading-style-h2">Our Approach</h2>
      </div>
      <div class="approch-wrapper">
        <div data-w-id="700037f2-720e-abfa-4f14-2d238e92ff92" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="approach-card">
          <div class="approach-card-header-div">
            <div class="our-approach-icon">
              <div class="our-approact-icon-svg w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_723_2101)">
                    <path d="M10.0001 0C5.86133 0 2.50684 3.35449 2.50684 7.49328V10.8826C2.50805 12.3621 2.9298 14.0704 4.01809 15.4407C4.56313 16.1237 5.27602 16.7176 6.17445 17.135C7.07168 17.5538 8.15016 17.7942 9.4191 17.7942C10.8534 17.793 12.289 17.1716 13.3711 16.0718C14.4533 14.9732 15.1784 13.3838 15.1771 11.471V7.49328C15.1759 4.63746 12.8559 2.31691 10.0001 2.31566C7.14367 2.31687 4.82371 4.63746 4.82313 7.49328V11.4777C4.82313 11.991 4.95129 12.4914 5.17102 12.9511C5.50121 13.6402 6.03406 14.2407 6.68227 14.6771C7.33047 15.1123 8.09949 15.3852 8.90395 15.3858C9.65469 15.3864 10.2913 15.2509 10.8198 15.0025C11.6151 14.6314 12.1425 14.0027 12.4477 13.3045C12.7553 12.605 12.8603 11.8347 12.8609 11.1029V7.49332C12.8602 5.91434 11.5791 4.6332 10.0002 4.63262C8.4218 4.63324 7.14004 5.91437 7.13945 7.49332V11.4777C7.13883 11.9464 7.33234 12.3755 7.64055 12.6807C7.94816 12.9871 8.37602 13.1781 8.84418 13.1781C9.78352 13.1775 10.544 12.4164 10.5446 11.4777V7.49332C10.5446 7.2498 10.3468 7.05203 10.1039 7.05203C9.85918 7.05203 9.66203 7.2498 9.66203 7.49332V11.4777C9.66203 11.7054 9.57168 11.9068 9.42277 12.0557C9.27324 12.2046 9.07121 12.2956 8.84414 12.2956C8.61707 12.2956 8.41262 12.2046 8.26246 12.0551C8.11231 11.9056 8.02199 11.7042 8.02137 11.4777V7.49336C8.02199 6.94711 8.2423 6.45453 8.6018 6.09504C8.96129 5.73613 9.45387 5.5152 10.0001 5.51461C10.5458 5.51523 11.0383 5.73617 11.3978 6.09504C11.7573 6.45453 11.9782 6.94711 11.9782 7.49336V11.103C11.9782 11.5339 11.9355 11.9691 11.8348 12.3719C11.7597 12.6746 11.6523 12.9578 11.5083 13.2111C11.2916 13.5913 10.9993 13.9038 10.5873 14.1309C10.1741 14.358 9.63145 14.5032 8.90391 14.5045C8.1025 14.5057 7.29012 14.1309 6.6859 13.5517C6.38438 13.263 6.13719 12.9261 5.9675 12.5709C5.79723 12.215 5.70566 11.8421 5.70566 11.4777V7.49336C5.70566 6.30867 6.18664 5.23687 6.96481 4.45809C7.74422 3.67926 8.81539 3.19832 10.0001 3.19832C11.1848 3.19832 12.2559 3.6793 13.0354 4.45809C13.8136 5.23691 14.2945 6.30867 14.2945 7.49336V11.471C14.2933 13.1605 13.6652 14.5124 12.7418 15.4536C11.8183 16.3941 10.5957 16.9129 9.41898 16.9117C8.26113 16.9117 7.31691 16.6932 6.54668 16.3349C5.3925 15.7966 4.61309 14.939 4.10832 13.957C3.60539 12.9749 3.38871 11.8671 3.38934 10.8826V7.49332C3.38934 5.66652 4.12785 4.01613 5.32539 2.81863C6.52293 1.62113 8.17332 0.882578 10.0001 0.882578C11.8269 0.882578 13.4767 1.62109 14.6742 2.81859C15.8717 4.01609 16.6102 5.66648 16.6108 7.49328V11.8018C16.6127 13.6291 15.8637 15.4755 14.6552 16.8494C14.0516 17.5366 13.335 18.1055 12.5471 18.5004C11.7585 18.8953 10.9004 19.1175 10.0001 19.1175C9.75656 19.1175 9.55879 19.3152 9.55879 19.5594C9.55879 19.8023 9.75656 20 10.0001 20C11.0468 20 12.0436 19.74 12.9426 19.2884C14.2921 18.6121 15.4243 17.5104 16.2245 16.1963C17.024 14.8829 17.4928 13.3515 17.4934 11.8018V7.49328C17.4928 3.35449 14.1383 0 10.0001 0Z" fill="currentColor"></path>
                  </g>
                  <defs>
                    <clippath id="clip0_723_2101">
                      <rect width="20" height="20" fill="white"></rect>
                    </clippath>
                  </defs>
                </svg></div>
            </div>
            <p class="text-size-medium text-weight-bold">Tailored Solutions</p>
          </div>
          <p class="text-align-center">We craft tailored strategies to address specific opportunities and challenges.</p>
        </div>
        <div class="divider"></div>
        <div data-w-id="3a1be963-56d2-e923-eeac-9f84da2ca337" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="approach-card">
          <div class="approach-card-header-div">
            <div class="our-approach-icon">
              <div class="our-approact-icon-svg w-embed"><svg width="100%" height="100%" viewbox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.32949 0.5H16.3563L20.3333 5.53165L15.3429 10.5253C12.5895 13.2595 10.3333 15.5 10.3333 15.5C10.3333 15.5 8.0771 13.2595 0.333313 5.53165L4.32949 0.5ZM2.58953 5.05696L6.45186 4.96203C7.15932 2.75949 7.36964 2.09494 7.36964 2.05696C7.36964 2.03797 6.83427 2.01899 6.16505 2.01899H4.96046L2.58953 5.05696ZM8.05798 3.29114C7.84765 4.01266 7.65645 4.6962 7.63733 4.82911C7.57997 5 8.21094 5.05696 10.3333 5.05696C12.8763 5.05696 13.1058 5.03797 13.0293 4.73418C12.9911 4.5443 12.7999 3.86076 12.6086 3.21519L12.2454 2.01899H8.40215L8.05798 3.29114ZM13.775 3.53797L14.2339 4.96203L18.0962 5.05696L15.7062 2C13.8515 2 13.3161 2.03797 13.3161 2.05696C13.3161 2.07595 13.5264 2.74051 13.775 3.53797V3.53797ZM5.95473 9.21519C7.63733 10.8861 9.03312 12.2342 9.05224 12.2152C9.07136 12.1772 8.51687 10.8291 7.80941 9.17722L6.52834 6.17721H2.89545L5.95473 9.21519ZM8.95664 9.27215C9.70234 10.981 10.3142 12.3861 10.3333 12.4051C10.3333 12.4241 10.9643 11.038 11.7291 9.31013L13.1249 6.1962H7.61821L8.95664 9.27215ZM12.8763 9.17722C12.1689 10.8101 11.6144 12.1772 11.6335 12.1962C11.6526 12.2342 13.0484 10.8861 14.731 9.21519L17.7903 6.17721H14.1574L12.8763 9.17722Z" fill="currentColor"></path>
                </svg></div>
            </div>
            <p class="text-size-medium text-weight-bold">Value Creation</p>
          </div>
          <p class="text-align-center">We deliver measurable value to drive sustainable and long-term goals.</p>
        </div>
        <div class="divider"></div>
        <div data-w-id="c9486788-d41a-223e-7565-43ab9cc436b5" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="approach-card">
          <div class="approach-card-header-div">
            <div class="our-approach-icon">
              <div class="our-approact-icon-svg w-embed"><svg width="100%" height="100%" viewbox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.1053 40.177H1.89475C1.43131 40.1762 0.987137 39.9915 0.65973 39.6635C0.332322 39.3355 0.148437 38.891 0.148438 38.4275V2.00436C0.148437 1.77461 0.193689 1.54712 0.281608 1.33486C0.369527 1.12261 0.498393 0.929745 0.660847 0.767291C0.8233 0.604838 1.01616 0.475973 1.22842 0.388054C1.44067 0.300134 1.66817 0.254883 1.89791 0.254883C2.12766 0.254883 2.35515 0.300134 2.56741 0.388054C2.77966 0.475973 2.97252 0.604838 3.13498 0.767291C3.29743 0.929745 3.42629 1.12261 3.51421 1.33486C3.60213 1.54712 3.64739 1.77461 3.64739 2.00436V36.678H40.1021C40.5661 36.678 41.0111 36.8624 41.3392 37.1904C41.6673 37.5185 41.8516 37.9635 41.8516 38.4275C41.8516 38.8915 41.6673 39.3365 41.3392 39.6646C41.0111 39.9927 40.5661 40.177 40.1021 40.177H40.1053ZM7.1716 33.1159V13.7517C7.17243 13.3542 7.33073 12.9731 7.61186 12.692C7.89298 12.4109 8.27403 12.2526 8.67159 12.2517H11.1537C11.5513 12.2526 11.9323 12.4109 12.2134 12.692C12.4946 12.9731 12.6529 13.3542 12.6537 13.7517V33.1159H7.1716ZM15.9663 33.1159V3.07488C15.9672 2.67731 16.1255 2.29627 16.4066 2.01514C16.6877 1.73402 17.0688 1.57572 17.4663 1.57488H19.9484C20.346 1.57572 20.7271 1.73402 21.0082 2.01514C21.2893 2.29627 21.4476 2.67731 21.4484 3.07488V33.1159H15.9663ZM24.7611 33.1159V13.7517C24.7619 13.3542 24.9202 12.9731 25.2013 12.692C25.4825 12.4109 25.8635 12.2526 26.2611 12.2517H28.7432C29.1407 12.2526 29.5218 12.4109 29.8029 12.692C30.084 12.9731 30.2423 13.3542 30.2432 13.7517V33.1159H24.7611ZM33.559 33.1159V24.4223C33.5598 24.0247 33.7181 23.6436 33.9992 23.3625C34.2803 23.0814 34.6614 22.9231 35.059 22.9223H37.5379C37.9355 22.9231 38.3165 23.0814 38.5976 23.3625C38.8788 23.6436 39.0371 24.0247 39.0379 24.4223V33.1159H33.559Z" fill="currentColor"></path>
                </svg></div>
            </div>
            <p class="text-size-medium text-weight-bold">Data-Driven Excellence</p>
          </div>
          <p class="text-align-center">We utilize analytics and insights to execute data-driven strategies that increase efficiency.</p>
        </div>
        <div class="divider"></div>
        <div data-w-id="0d065e5e-bc28-eab2-251c-47a8e37810e6" style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="approach-card">
          <div class="approach-card-header-div">
            <div class="our-approach-icon">
              <div class="our-approact-icon-svg w-embed"><svg width="100%" height="100%" viewbox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68677 11.2456C6.81045 11.2456 7.20208 11.4371 7.5731 11.6711C7.92351 11.9051 8.78923 12.1816 9.46944 12.3092C10.4794 12.5007 10.9329 12.4794 11.9429 12.2029C12.6231 12.0114 13.3033 11.7774 13.4476 11.6498C13.6331 11.5222 13.798 11.7136 14.066 12.373C14.2721 12.8623 14.5401 13.3303 14.6844 13.4366C14.8287 13.5217 14.9317 13.777 14.9317 14.011C14.9317 14.4151 14.7874 14.4364 6.0684 14.4364L6.04779 13.2452C6.04779 12.607 6.13024 11.8838 6.25391 11.6498C6.3982 11.4371 6.58371 11.2456 6.68677 11.2456V11.2456ZM4.2339 6.50202C4.33696 6.54457 4.46063 6.92746 4.52247 7.37417C4.58431 7.7996 4.93472 8.71429 5.30574 9.37372C5.7386 10.1608 5.9035 10.65 5.75921 10.7989C5.65615 10.9478 4.58431 11.0329 0.503057 11.0329V9.58644C0.482444 8.4803 0.564894 8.07614 0.853467 7.82087C1.05959 7.62943 1.53368 7.31035 1.9047 7.1189C2.25511 6.92746 2.89409 6.69347 3.30634 6.60838C3.71859 6.50202 4.15145 6.45948 4.2339 6.50202V6.50202ZM4.68737 1.4606C5.09962 1.4606 5.59431 1.50314 5.75921 1.56696C6.00656 1.65205 5.92411 1.90731 5.34697 2.90708C4.93472 3.58778 4.58431 4.52374 4.52247 5.01299C4.46063 5.52352 4.33696 5.92768 4.21329 5.92768C4.11022 5.92768 3.67736 5.58733 3.28573 5.18317C2.74981 4.6301 2.56429 4.24721 2.56429 3.73669C2.56429 3.37506 2.72919 2.822 2.91471 2.52419C3.10022 2.22639 3.4094 1.88604 3.59491 1.73713C3.75981 1.58823 4.25451 1.4606 4.68737 1.4606ZM10.9123 0.524641C11.4895 0.588456 12.3552 0.843718 12.8499 1.09898C13.3652 1.35424 14.1278 1.9924 14.5607 2.52419C14.9936 3.05599 15.5089 3.97068 15.6944 4.54501C15.9005 5.22571 15.983 5.9915 15.9211 6.6722C15.8593 7.26781 15.6119 8.13995 15.3646 8.65048C14.9523 9.50135 14.9523 9.56516 15.3027 9.96933C15.4883 10.2246 15.8387 10.3948 16.0654 10.3948C16.3128 10.3948 17.0548 11.0116 17.9824 11.9902C18.8069 12.8836 19.4664 13.777 19.4664 14.011C19.4664 14.245 19.2397 14.6704 18.9511 14.9682C18.6832 15.266 18.3534 15.5 18.2297 15.5C18.1266 15.5 17.7762 15.3724 17.467 15.2022C17.1372 15.0533 16.354 14.3301 15.715 13.6068C15.0554 12.9048 14.5195 12.1391 14.5195 11.9263C14.5401 11.7349 14.3546 11.3945 14.1072 11.1818C13.7156 10.8415 13.6538 10.8415 12.8293 11.2669C12.3346 11.5222 11.5307 11.7562 11.0154 11.82C10.4794 11.8838 9.61373 11.7987 8.95413 11.6073C8.25331 11.3945 7.47004 10.9478 6.89289 10.4373C6.31575 9.94806 5.77983 9.161 5.47064 8.45903C5.12023 7.6507 4.97594 6.92746 4.97594 6.03404C4.97594 5.09808 5.12023 4.4812 5.51186 3.69414C5.80044 3.09853 6.29514 2.39656 6.62493 2.07748C6.93412 1.77968 7.38759 1.39679 7.59372 1.22661C7.82045 1.07771 8.41821 0.801175 8.93352 0.673544C9.44883 0.524641 10.3558 0.460825 10.9123 0.524641V0.524641ZM7.44943 3.1198C7.14024 3.43888 6.74861 4.01322 6.58371 4.39611C6.41881 4.75773 6.27452 5.56606 6.27452 6.1404C6.27452 6.73601 6.41881 7.54434 6.58371 7.94851C6.74861 8.35267 6.99596 8.73556 7.09902 8.79938C7.20208 8.86319 7.65555 8.77811 8.08841 8.60793C8.50066 8.45903 9.26332 8.26758 9.77863 8.18249C10.3352 8.11868 11.1597 8.1825 11.8399 8.35267C12.4582 8.52284 13.1797 8.71429 13.4476 8.77811C13.798 8.88447 13.9629 8.77811 14.2103 8.26758C14.3752 7.92723 14.5813 7.22526 14.6431 6.73601C14.7256 6.20422 14.6638 5.4597 14.5195 4.97045C14.3752 4.50247 14.0454 3.8005 13.7774 3.43888C13.5095 3.05599 12.9117 2.54546 12.4582 2.31147C11.9223 2.03494 11.2215 1.88604 10.4588 1.88604C9.77863 1.88604 8.99536 2.03494 8.64495 2.22639C8.31515 2.39656 7.77923 2.80073 7.44943 3.1198ZM10.397 2.73691C10.9123 2.73691 11.5307 2.88581 11.7986 3.05599C12.046 3.22616 12.3964 3.67287 12.5613 4.01322C12.7262 4.37484 12.8705 4.90664 12.8705 5.24698C12.8705 5.56606 12.685 6.1404 12.4582 6.52329C12.2315 6.88491 11.6956 7.35289 11.2833 7.54434C10.6031 7.84215 10.397 7.86342 9.67557 7.60816C9.16026 7.41671 8.68617 7.03382 8.3976 6.56584C8.12964 6.16167 7.92351 5.56606 7.92351 5.24698C7.92351 4.90664 8.02658 4.43866 8.15025 4.18339C8.27392 3.90686 8.62433 3.48142 8.91291 3.22616C9.30454 2.88581 9.7374 2.73691 10.397 2.73691V2.73691ZM17.2403 6.50202C17.6113 6.56584 18.3328 6.79983 18.8481 7.03382C19.3634 7.26781 19.9405 7.60816 20.1467 7.7996C20.4352 8.07614 20.5177 8.4803 20.4971 11.0329H19.1985C18.2503 11.0542 17.8381 10.9691 17.6113 10.6926C17.4464 10.4799 16.9105 10.1395 15.5501 9.54389L15.9623 8.54412C16.1685 7.96978 16.3952 7.26781 16.457 6.94873C16.5601 6.41693 16.6425 6.37439 17.2403 6.50202V6.50202ZM16.2715 1.4606C16.7456 1.4606 17.2815 1.63078 17.5289 1.84349C17.7762 2.03494 18.0854 2.41783 18.2091 2.69437C18.3328 2.94963 18.4358 3.46015 18.4358 3.8005C18.4358 4.24721 18.2091 4.67265 17.7144 5.18317C17.3228 5.58733 16.8693 5.88514 16.7456 5.86387C16.6013 5.82132 16.4158 5.41716 16.354 4.94918C16.2715 4.50247 16.0654 3.77923 15.8593 3.37506C15.6532 2.9709 15.344 2.46038 15.1585 2.24766C14.8699 1.90731 14.8699 1.84349 15.1378 1.67332C15.3027 1.54569 15.8181 1.4606 16.2715 1.4606V1.4606Z" fill="currentColor"></path>
                </svg></div>
            </div>
            <p class="text-size-medium text-weight-bold">Client Focus</p>
          </div>
          <p class="text-align-center">We prioritize company goals throughout engagement to build trust and collaboration.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="our-capabilities-section">
    <div class="container">
      <div class="our-capabilities-home-header">
        <h2 class="heading-style-h2 column align-center margin-bottom">Our Core Capabilities <span>to Empower Your Growth</span></h2>
      </div>
   <div class="cards-wrapper">
  <% services.forEach((service, index) => { %>
    <div class="capabilities-card-wrapper">
      <div
        class="capabilities-card-new"
        data-w-id="<%= index === 0
          ? '5891db6d-848b-6ed6-37cb-9dfcd611e729'
          : '295b70c8-b4af-cc44-8569-687a0fe1daaa' %>"
        style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
      >
        <a href="/services/<%= service.slug %>" class="link-block-5 w-inline-block">
          <div class="card-overlay">
            <div class="card-content-wrapper">
              <div class="card-text-row">
                <div class="headline bold card"><%= service.title %></div>
                <p class="capabilities-card-subtitle text-size-small">
                  <%= service.subtitle %>
                </p>
              </div>
              <div class="icon">
                <img src="images/arrow.png" loading="lazy" alt="arrow-icon" class="image-9">
              </div>
            </div>
          </div>
        </a>
        <img src="<%= service.imageUrl %>" loading="lazy" alt="" class="image-10">
      </div>
    </div>
  <% }) %>
</div>


    </div>
  </section>
  <section class="bottom-section">
    <div class="container">
      <div data-w-id="22a27272-a482-d703-b092-3ba96ce26a0e" style="opacity:0" class="bottom-wrapper">
        <h2 class="heading-style-h2">Ready to elevate your business?</h2>
        <div class="text-size-medium">Partner with us and take the first step today.</div>
        <div class="button-wrapper">
          <div class="primary-button-wrapper-2">
            <a href="/contact-us" class="button-2 w-button">Work With Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <%- include('partials/footer') %>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=673f3019d022da5c68bcf483" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/gsap.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/Flip.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/ScrollTrigger.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/SplitText.min.js" type="text/javascript"></script>
  <script type="text/javascript">gsap.registerPlugin(Flip,ScrollTrigger,SplitText);</script>
</body>
</html>