<!DOCTYPE html><!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Sun Nov 30 2025 22:54:45 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="67f2503e4d93d2a7b92c8cf9" data-wf-site="673f3019d022da5c68bcf483">
<head>
  <meta charset="utf-8">
  <title>Our Capabilities | SeedRock Consulting Business Advisory</title>
  <meta content="Explore SeedRock Consulting’s core capabilities – financial advisory, strategy development, and communications to help businesses grow sustainably." name="description">
  <meta content="SeedRock Consulting – Business Advisory Capabilities" property="og:title">
  <meta content="Discover SeedRock’s expertise in financial advisory, strategy, and communications. Tailored solutions to empower SMEs, startups, and corporates." property="og:description">
  <meta content="SeedRock Consulting – Business Advisory Capabilities" property="twitter:title">
  <meta content="Discover SeedRock’s expertise in financial advisory, strategy, and communications. Tailored solutions to empower SMEs, startups, and corporates." property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/seed-rock-consulting.webflow.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <style>
.page-load-in {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.page-load-in.loaded {
  opacity: 1;
  transform: translateY(0) scale(1);
}
</style>
  <style>
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
</style>
</head>
<body>
     <%- include('partials/header', { currentPage: 'capabilities' }) %>
  <section class="heading-area-oc">
    <div class="wrapper page-load-in">
      <h1 id="w-node-_4bb8556c-7b95-8d60-47b2-8b2d6e5c7773-b92c8cf9" class="h1-regular">Our Capabilities</h1>
    </div>
  </section>
  <section class="oc-body-section">
    <div class="container">
      <div class="column align-center _16px page-load-in">
        <p class="text-size-medium">At SeedRock Consulting, our capabilities are designed to provide businesses with the tools and expertise needed to succeed. Whether it’s financial advisory, strategy development, or marketing and public relations, we deliver tailored solutions that drive success.</p>
      </div>
    </div>
  </section>
  <section class="wwd-section">
    <div class="container">
      <div class="wwd-section-wrapper">
        <div class="div-block-31">
          <h2 class="heading-style-h2">Our Core Capabilities <span class="text-span-6">to Empower Your Growth</span></h2>
        </div>
       <div class="cards-wrapper">
  <% services.forEach((service) => { %>
    <div class="capabilities-card-wrapper">
      <div
        class="capabilities-card-new"
        data-w-id="5891db6d-848b-6ed6-37cb-9dfcd611e729"
      >
        <a href="/services/<%= service.slug %>" class="link-block-5 w-inline-block">
          <div class="card-overlay">
            <div class="card-content-wrapper">
              <div class="card-text-row">
                <div class="headline bold card">
                  <%= service.title %>
                </div>
                <p class="capabilities-card-subtitle text-size-small">
                  <%= service.subtitle %>
                </p>
              </div>
              <div class="icon">
                <img
                  src="/images/arrow.png"
                  loading="lazy"
                  alt="arrow-icon"
                  class="image-9"
                >
              </div>
            </div>
          </div>
        </a>
        <img
          src="<%= service.imageUrl %>"
          loading="lazy"
          alt=""
          class="image-10"
        >
      </div>
    </div>
  <% }) %>
</div>

      </div>
    </div>
  </section>
  <section class="bws-section">
    <div class="container">
      <div class="div-block-37">
        <h2 class="heading-style-h2 align-center">Businesses We Serve</h2>
        <p class="text-size-medium">We collaborate with a diverse range of clients across industries, tailoring solutions to meet the unique challenges of SMEs, startups, large corporations, government bodies, and multinational organisations. </p>
      </div>
      <div class="bws-card-wrapper">
        <div data-figma-id="354:2091" class="bws-card">
          <div class="bws-card-icon-wrapper">
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="M208-254v-319.33h66.67V-254H208Zm241.33 0v-319.33H516V-254h-66.67ZM80-120.67v-66.66h800v66.66H80ZM685.33-254v-319.33H752V-254h-66.67ZM80-640v-62l400-218.67L880-702v62H80Zm148.67-66.67h502.66-502.66Zm0 0h502.66L480-844.67l-251.33 138Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Financial Services<br>‍</div>
        </div>
        <div data-figma-id="354:2091" class="bws-card">
          <div class="bws-card-icon-wrapper">
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="M127.33-240 80-287.33l293.33-293.34L538-416l230-229.33H648.67V-712H880v231.33h-66v-116.66L537.33-320.67 372.67-485.33 127.33-240Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Venture Capital<br>‍</div>
        </div>
        <div data-figma-id="354:2091" class="bws-card">
          <div class="bws-card-icon-wrapper">
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="M236-40q-48.33 0-82.17-33.83Q120-107.67 120-156t33.83-82.17Q187.67-272 236-272q14 0 25 2.67 11 2.66 22 7.66L358.67-356q-22-25.67-32.34-58.33-10.33-32.67-5-67l-107.66-36.34q-15.67 25-40.67 39.34Q148-464 116-464q-48.33 0-82.17-33.83Q0-531.67 0-580t33.83-82.17Q67.67-696 116-696t82.17 33.83Q232-628.33 232-580v5.33l108.33 37.34q18.67-33.34 46.84-53Q415.33-610 450-617v-115q-39-11-62.5-42.83Q364-806.67 364-844q0-48.33 33.83-82.17Q431.67-960 480-960t82.17 33.83Q596-892.33 596-844q0 37.33-24 69.17Q548-743 510-732v115q34.67 7 63.17 26.67 28.5 19.66 47.16 53L728-574.67V-580q0-48.33 33.83-82.17Q795.67-696 844-696t82.17 33.83Q960-628.33 960-580t-33.83 82.17Q892.33-464 844-464q-32 0-57.5-14.33-25.5-14.34-40.17-39.34l-107.66 36.34Q644-447 634-414.5T601.33-356L677-262q11-5 22-7.5t24.71-2.5q48.96 0 82.62 33.83Q840-204.33 840-156t-33.83 82.17Q772.33-40 724-40t-82.17-33.83Q608-107.67 608-156q0-20 5.83-36.83 5.84-16.84 16.17-31.84L554.33-319q-35.08 19-74.87 19-39.79 0-74.79-19L330-224q10.33 15 16.17 31.5Q352-176 352-156q0 48.33-33.83 82.17Q284.33-40 236-40ZM116.02-530.67q20.98 0 35.15-14.19 14.16-14.19 14.16-35.16 0-20.98-14.19-35.15-14.19-14.16-35.16-14.16-20.98 0-35.15 14.19-14.16 14.19-14.16 35.16 0 20.98 14.19 35.15 14.19 14.16 35.16 14.16Zm120 424q20.98 0 35.15-14.19 14.16-14.19 14.16-35.16 0-20.98-14.19-35.15-14.19-14.16-35.16-14.16-20.98 0-35.15 14.19-14.16 14.19-14.16 35.16 0 20.98 14.19 35.15 14.19 14.16 35.16 14.16Zm244-688q20.98 0 35.15-14.19 14.16-14.19 14.16-35.16 0-20.98-14.19-35.15-14.19-14.16-35.16-14.16-20.98 0-35.15 14.19-14.16 14.19-14.16 35.16 0 20.98 14.19 35.15 14.19 14.16 35.16 14.16Zm.31 428q39 0 66-27.33t27-66.33q0-39-27.06-66-27.07-27-66.27-27-38.67 0-66 27.06-27.33 27.07-27.33 66.27 0 38.67 27.33 66t66.33 27.33Zm243.69 260q20.98 0 35.15-14.19 14.16-14.19 14.16-35.16 0-20.98-14.19-35.15-14.19-14.16-35.16-14.16-20.98 0-35.15 14.19-14.16 14.19-14.16 35.16 0 20.98 14.19 35.15 14.19 14.16 35.16 14.16Zm120-424q20.98 0 35.15-14.19 14.16-14.19 14.16-35.16 0-20.98-14.19-35.15-14.19-14.16-35.16-14.16-20.98 0-35.15 14.19-14.16 14.19-14.16 35.16 0 20.98 14.19 35.15 14.19 14.16 35.16 14.16ZM480-844ZM116-580Zm364 120Zm364-120ZM236-156Zm488 0Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Tech-enabled startups</div>
        </div>
        <div data-figma-id="354:2091" class="bws-card">
          <div>
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="M840.33-518.67v332q0 27-19.83 46.84Q800.67-120 773.67-120H186.33q-27 0-46.83-19.83-19.83-19.84-19.83-46.84v-332q-26.34-23-36.5-57.33-10.17-34.33 1.16-70.67L127-782q8-26.67 28.17-42.33Q175.33-840 201.67-840h554q27.66 0 48.33 15.83 20.67 15.84 29 42.17l43.33 135.33q11.34 36.34.84 70.34t-36.84 57.66Zm-270.66-34.66q28.33 0 46.33-18.84 18-18.83 14.33-44.5l-24-156.66h-92.66V-614q0 24.33 16 42.5t40 18.17Zm-184.67 0q26.33 0 44.17-17.84Q447-589 447-614v-159.33h-92.67l-24 156.66q-4 25.34 12.84 44.34 16.83 19 41.83 19Zm-180.67 0q22 0 38.17-15.34 16.17-15.33 19.17-38l24.66-166.66h-92.66l-44 142q-8.67 27.33 7.5 52.66 16.16 25.34 47.16 25.34Zm551.34 0q31 0 47.66-25 16.67-25 7.67-53l-44.67-142h-92L699-606.67q3 22.67 19.17 38 16.16 15.34 37.5 15.34ZM186.33-186.67h587.34V-488q-1 1.33-6.5 1.33h-11.5q-25.67 0-47.5-10-21.84-10-43.17-31.33-16.67 19.33-40.33 30.33-23.67 11-51.67 11-29 0-51.17-9-22.16-9-41.5-28.33-15.66 18-38.5 27.67-22.83 9.66-50.83 9.66-30.33 0-54.17-10.66Q313-508 295.67-528q-23 21-45.17 31.17-22.17 10.16-46.17 10.16h-10.5q-5.16 0-7.5-1.33v301.33Zm587.34 0H186.33h587.34Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Retail &amp; Consumer Goods</div>
        </div>
        <div data-figma-id="354:2091" class="bws-card">
          <div>
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="m146.67-800 76 154.67h126.66l-76-154.67h86l76 154.67H562L486-800h86l76 154.67h126.67l-76-154.67h114.66q27 0 46.84 19.83Q880-760.33 880-733.33v506.66q0 27-19.83 46.84Q840.33-160 813.33-160H146.67q-27 0-46.84-19.83Q80-199.67 80-226.67v-506.66q0-27 19.83-46.84Q119.67-800 146.67-800Zm0 221.33v352h666.66v-352H146.67Zm0 0v352-352Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Media &amp; Creative Industries</div>
        </div>
        <div data-figma-id="354:2091" class="bws-card">
          <div>
            <div class="bws-icong-svg w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="currentColor">
                <path d="M146.67-120q-27 0-46.84-19.83Q80-159.67 80-186.67v-466.66q0-27 19.83-46.84Q119.67-720 146.67-720H320v-93.33q0-27 19.83-46.84Q359.67-880 386.67-880h186.66q27 0 46.84 19.83Q640-840.33 640-813.33V-720h173.33q27 0 46.84 19.83Q880-680.33 880-653.33v466.66q0 27-19.83 46.84Q840.33-120 813.33-120H146.67Zm0-66.67h666.66v-466.66H146.67v466.66Zm240-533.33h186.66v-93.33H386.67V-720Zm-240 533.33v-466.66 466.66Z"></path>
              </svg></div>
          </div>
          <div class="text-size-medium">Professional Services</div>
        </div>
      </div>
    </div>
  </section>
  <section class="ttab-section">
    <div class="container">
      <div class="row fade-in-on-scroll">
        <div class="text-and-button-wrapper"><img src="images/TTAB-image.png" loading="lazy" sizes="(max-width: 564px) 100vw, 564px" srcset="images/TTAB-image-p-500.png 500w, images/TTAB-image.png 564w" alt="man-smiling" class="ttab-mobile-image">
          <div class="ttab-section-header">
            <h2 class="heading-style-h2">Talk To Us About Your Business Needs</h2>
          </div>
          <p class="text-size-medium"><span class="text-span-4">Ready to take your business to the next level? </span><br><span class="text-span-3">Discover how our tailored solutions can help you achieve sustainable growth and long-term success.</span></p>
          <div class="btn-wrapper">
            <a href="/contact-us" class="button-2 w-button">Contact Us</a>
          </div>
        </div>
        <div class="ttab-section-image-wrapper"><img src="images/PR.png" loading="lazy" alt="People discussing" class="image-4"></div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=673f3019d022da5c68bcf483" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/gsap.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/Flip.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/ScrollTrigger.min.js" type="text/javascript"></script>
  <script src="https://cdn.prod.website-files.com/gsap/3.13.0/SplitText.min.js" type="text/javascript"></script>
  <script type="text/javascript">gsap.registerPlugin(Flip,ScrollTrigger,SplitText);</script>
  <script>
window.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('.page-load-in').forEach((el, i) => {
    setTimeout(() => {
      el.classList.add('loaded');
    }, i * 150); // Optional stagger
  });
});
</script>
  <script>
// Reusable scroll observer
const observer = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('animate-in');
      observer.unobserve(entry.target);
    }
  });
}, { threshold: 0.1 });
// Watch only elements with this class
document.querySelectorAll('.fade-in-on-scroll').forEach(el => observer.observe(el));
</script>
</body>
</html>